@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$primarily-color: yellow;
$secondary-color: skyblue;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.App {
  font-family: Montserrat, Droid Sans, sans-serif;
  height: 100vh;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2,
button {
  font-weight: normal;
  font-family: Audiowide, Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1rem;
  margin: 0;
  background-color: $primarily-color;
  color: black;
  border: none;
}

.home-button {
  font-size: 2rem;
  border-radius: 3rem 0 0 0;
}

nav button {
  font-size: 1.5rem;
  width: 100%;

  &:first-child {
    border-radius: 0 0 0 2rem;
  }
}

.button-effect {
  transition: 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: cyan;
  }
}

.selected {
  background-color: skyblue;
}

p {
  margin: 0;
}

main {
  flex: 100 auto;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
}

.decor-box {
  flex: 1 0 1rem;
  background-color: blue;
  margin-right: 0.5rem;
}

article {
  flex: 10 auto;
  overflow: scroll;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

video {
  width: 100%;
}
