@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
$primarily-color: yellow;
$secondary-color: cyan;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.App {
  font-family: Montserrat, Droid Sans, sans-serif;
  height: 90vh;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h2,
button {
  font-weight: normal;
  font-family: Audiowide, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 1rem;
  border: none;
  background-color: $primarily-color;
  color: black;
}

h3 {
  margin: 0.5rem auto;
}

li {
  list-style: square;
  text-align: left;
}

li:empty {
  list-style: none;
  height: 1rem;
}

.home-button {
  font-size: 2rem;
  border-radius: 3rem 0 0 0;
}

nav button {
  font-size: 1.5rem;
  width: 100%;

  &:first-child {
    border-radius: 0 0 0 2rem;
  }
}

.button-effect {
  transition: 300ms ease-in-out;
  &:hover,
  &:focus {
    background-color: $secondary-color;
  }
}

.selected {
  background-color: $secondary-color;
}

p {
  margin: 0;
}

main {
  flex: 100 auto;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
}

.decor-box {
  flex: 1 0;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5rem;
  & :first-child {
    flex: 4;
    background-color: $secondary-color;
  }
  & :nth-child(2) {
    flex: 3;
    background-color: $primarily-color;
  }
  & :last-child {
    flex: 2;
    background-color: blue;
  }
}

article {
  flex: 10 0;
  overflow: scroll;
  text-align: center;

  video {
    margin: 0.5rem auto;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.collection-of-data h2 {
  margin: 0.5rem auto;
}

.weather-display {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  svg {
    vertical-align: middle;
  }
}

@media (min-width: 400px) {
  .App {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  article {
    flex: 20 0;
  }

  article div section {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  article div section {
    width: 60%;
    margin: auto;
  }
}
